<div class="layout-topbar">
    <p-menubar [model]="tieredItems">
        <ng-template pTemplate="start">
            <img alt="Logo" class="mr-2" src="assets/img/macaco.svg" height="40">
        </ng-template>
    </p-menubar>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>


    <!-- prueba -->
    


    <div #topbarmenu class=" layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}"
        >

        <button class="p-link layout-topbar-button" routerLink="/orders">
            <i class="pi pi-box"></i>
            <span>Mis Pedidos</span>
        </button>

        <button class="p-link layout-topbar-button" routerLink="/favorites">
            <i class="pi pi-heart"></i>
            <span>Mis Favoritos</span>
        </button>

        <button class="p-link layout-topbar-button" routerLink="/profile">
            <i class="pi pi-user"></i>
            <span>Mi Perfil</span>
        </button>

    
        <div class="p-link flex flex-wrap gap-2 ml-3 mt-3" *ngIf="(layoutService.getIsMobile() | async)">
            <i routerLink="/cart" severity="warning" value="2" class="p-element pi pi-shopping-cart mr-4 p-text-secondary p-overlay-badge" style="font-size: 1.5rem;">
                <span *ngIf="totalQuantity" id="pr_id_34_badge" class="p-badge p-component p-badge-warning">{{totalQuantity}}</span>
            </i>     
        </div>

        <button class="p-link layout-topbar-button" routerLink="/cart" *ngIf="!(layoutService.getIsMobile() | async)">
            <i class="pi pi-shopping-cart"></i>
            <span>Mi Carrito</span>
            <p-badge class="ml-2" value="{{totalQuantity}}" severity="warning"></p-badge>
        </button>

        <button class="p-link layout-topbar-button" *isLogin="true" style="margin-left: -3px;">
            <i class="pi pi-sign-out"></i>
            <span>Salir</span>
        </button>
    </div>
</div>